# Reshaping dos Dados

In [1]:
import pandas as pd
import numpy as np

In [5]:
datas = pd.date_range('20210101', periods=6)

df = pd.DataFrame(np.random.randn(6,4), index=datas, columns=['Var_A', 'Var_B', 'Var_C', 'Var_D'])

In [6]:
df

               Var_A     Var_B     Var_C     Var_D
2021-01-01  1.386163  1.044740  0.548390  0.100424
2021-01-02  0.328375 -0.255421  0.559918  0.289326
2021-01-03 -1.458215  0.022043 -1.068380  0.069266
2021-01-04  1.467694  2.099048  1.027597 -0.152674
2021-01-05  0.184856 -2.336481  2.217262 -0.572860
2021-01-06  1.384935  0.642574 -0.451771  0.385779

In [8]:
# transpondo colunas e index

dft = df.T

dft

       2021-01-01  2021-01-02  2021-01-03  2021-01-04  2021-01-05  2021-01-06
Var_A    1.386163    0.328375   -1.458215    1.467694    0.184856    1.384935
Var_B    1.044740   -0.255421    0.022043    2.099048   -2.336481    0.642574
Var_C    0.548390    0.559918   -1.068380    1.027597    2.217262   -0.451771
Var_D    0.100424    0.289326    0.069266   -0.152674   -0.572860    0.385779

In [9]:
# vendo o formato comum dos df

df.shape

(6, 4)

In [10]:
# extraindo apenas os valores numericos de um dataframe

dft.values

array([[ 1.38616274,  0.32837468, -1.45821483,  1.46769415,  0.18485556,
         1.38493523],
       [ 1.04474048, -0.25542135,  0.02204343,  2.09904845, -2.33648084,
         0.64257426],
       [ 0.54838961,  0.5599181 , -1.06837969,  1.02759721,  2.21726218,
        -0.4517708 ],
       [ 0.10042419,  0.28932559,  0.06926644, -0.15267444, -0.57285959,
         0.38577867]])

In [11]:
# vendo a quantidade de elementos dentro do dataframe

np.size(dft.values)

24

In [12]:
# usando a função reshape

v = dft.values

v

array([[ 1.38616274,  0.32837468, -1.45821483,  1.46769415,  0.18485556,
         1.38493523],
       [ 1.04474048, -0.25542135,  0.02204343,  2.09904845, -2.33648084,
         0.64257426],
       [ 0.54838961,  0.5599181 , -1.06837969,  1.02759721,  2.21726218,
        -0.4517708 ],
       [ 0.10042419,  0.28932559,  0.06926644, -0.15267444, -0.57285959,
         0.38577867]])

In [13]:
v.reshape((2,12))

array([[ 1.38616274,  0.32837468, -1.45821483,  1.46769415,  0.18485556,
         1.38493523,  1.04474048, -0.25542135,  0.02204343,  2.09904845,
        -2.33648084,  0.64257426],
       [ 0.54838961,  0.5599181 , -1.06837969,  1.02759721,  2.21726218,
        -0.4517708 ,  0.10042419,  0.28932559,  0.06926644, -0.15267444,
        -0.57285959,  0.38577867]])

# Função Pivot()